"*":
  "atom-beautify":
    general:
      _analyticsUserId: "dff134ba-16ff-4fd4-8435-bdc43bda8d23"
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "linter-phpcs"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 21
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
  "go-plus":
    panelDisplayMode: "closed"
  "linter-checkstyle":
    checkConfiguration: "/Users/haputman/Projects/aem-lexmark/checkstyle.xml"
    lintOnlyCurrentFile: true
  "linter-eslint":
    advanced:
      localNodeModules: "/Users/haputman/.nvm/versions/node/v10.10.0/lib/node_modules"
    disabling:
      rulesToSilenceWhileTyping: [
        "no-trailing-spaces"
      ]
    global:
      globalNodePath: "/Users/haputman/.nvm/versions/node/v10.10.0"
    lintHtmlFiles: true
  "linter-phpcs":
    disableWhenNoConfigFile: true
  "linter-ui-default":
    showPanel: true
  "one-dark-ui": {}
  "platformio-ide-terminal":
    core:
      shell: "/usr/local/bin/zsh"
    style: {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  tasks:
    baseMarker: "-"
  "terminal-plus":
    core:
      autoRunCommand: "pwd"
      shell: "/usr/local/bin/zsh"
  "tree-view": {}
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
".js.jsx.react.source":
  editor:
    autoIndent: true
